/* COMMON STYLES */

body {
    margin: 0;
}

.heading1 {
    color: #FFFAFA;
    font: normal normal 45px/20px Tahoma;
}

.heading2 {
    color: #FFFAFA;
    padding: 100px 20px 20px 50px;
    font: normal normal 24px/20px Tahoma;
}

.heading3 {
    font: normal bold 24px/30px Tahoma;
    margin-top: 40px;
    margin-bottom: 15px;
}


/* CV PAGE STYLES */

.cv-photo {
    float: left;
    margin: 100px 50px 50px 100px;
    height: 362px;
}

.cv-header {
    background-color: #4169E1;
    height: 300px;
}

.cv-header .heading3 {
    margin-top: 90px;
}

.cv-main {
    clear: both;
}

.cv-main .heading3 {
    text-decoration: overline;
}

.cv-block {
    color: #000;
    font: normal normal 20px/30px Arial;
    padding: 0 20px 0 100px;
}
